.dutycalendar-container{
    position: relative;
    .server-calendar .ant-radio-group{
        display: none!important;
    }

    .belong-select{
        position: absolute;
        left: 0;
        top: 10px;
    }
}

.tree-warp{
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.c-item{
    position: relative;
    .v-span{
        width: 100%;
        height: 20px;
        text-align: center;
        color: red;
    }
}

.ant-alert-with-description{
    padding: 6px 16px 6px 69px;
}


