.dutycalendar-container{
    position: relative;
    .server-calendar .ant-radio-group{
        display: none!important;
    }

    .belong-select{
        position: absolute;
        left: 0;
        top: 10px;
    }
}

.tree-warp{
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}


